.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
  }
  
  .users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .users textarea {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    /* background-color: black; */
    background-position: center;
    background-repeat: no-repeat;
    color: #4f005f;
    resize: none;
    text-align: center;
    border-radius: 30px;
   }
  